@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,400;1,600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    font-size: 1.2vw;
    margin-bottom: 15px;
}
body{
    height: 100vh;
    color: white;
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    background-image: url(images/bg-desktop.svg) ;
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 90px 1fr 60px;

}
header{
    grid-column: 1 / -1;
    display: grid;
    align-items: center;  
}
header img{
    margin-left: 20px;
}

main{
    grid-column: 1 / -1;
    gap: 60px;
    place-items: center;
    margin: 0 25px;
    display: flex;
}
main .main-text{
    max-width: 500px;
    display: grid;
}
main .bg-img{
    background-image: url(images/illustration-mockups.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    height: 506px;
    width: 700px;
    margin-top: 20px;
    
}
.main-text-heading h2{
    max-width: 500px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 3vw;
    margin-bottom: 15px;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    font-size: 1.2vw;
    margin-bottom: 15px;
}
button{
    text-align: center;
    background-color: white;
    color: hsl(257, 40%, 49%);
    border-radius: 30px;
    border: none;
    box-shadow: 3px 5px 5px 1px rgba(0, 0, 0, 0.5);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.4vw;
    height: 50px;
    width: 180px;
}   
button:hover{
    background-color:hsl(300, 69%, 71%);
    color: white;
}
footer{
    grid-column: 1 / 12;
    grid-row: 3 / 4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
footer .fa-brands{
    border: 1px solid white;
    border-radius: 100%;
    padding: 10px;
    margin-right: 10px;
    color: white;
}
footer p{
  margin-right: 10px;
  display: grid;
  margin-top: auto;
  margin-bottom: auto;
}
footer img{
    height: 39px;
    width: 39px;
    margin-right: 10px;
}
.fa-brands:hover{
    color:hsl(300, 69%, 71%); 
    border: 1px solid hsl(300, 69%, 71%);
    display: grid;
    align-content: center;
}

@media (max-width: 500px) {
    body{
        background-image: url(images/bg-mobile.svg);
    }
    header{
        margin-top: 8px;
    }
    header img{
        width: 130px;
        height: 100px;
        margin-left: 20px;
    }
    main{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: 10px;
    }
   main .bg-img{
        height: 260px;
        width: 305px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10px;
        margin-bottom: 25px;
        background-repeat: no-repeat;
   }
   main .main-text{
    text-align: center;
    width: 300px;
    display: grid;
    place-items: center;
   }
   .main-text-heading h2{
     font-size: 25px;
     margin-bottom: 10px;
   }
   p{
    margin-top: 5px;
    font-size: 16px;
    margin-bottom: 15px;
   }
   label{
    margin-top: 10px;
    margin-bottom: 50px;
   }
   button{
        display: grid;
        place-items: center;
        text-align: center;
        font-size: 10px;
        font-weight: semi-bold;
        height: 35px;
        padding: 0px;
   }
   footer{
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left:  auto;
    margin-right: auto;
    margin-bottom: 20px;
   }
   footer img{
    margin-left: 20px;
    margin-top: 5px;
   }
   footer p{
    display: none;
   }
   .fa-brands{
    margin-left: 5px;
    
   }
}
